@model WebProject.Models.Product

@{
    ViewData["Title"] = Model.ProductName;
    var price = 0;
}

<div class="container">
<div class="row">
    <div class="col-3">
        <div id="ProductTypeList">
            @* //2.3.10 編寫Display View，加入VCReBooks ViewComponent *@
            @await Component.InvokeAsync("VCProductType", new { })
        </div>
    </div>
    <div class="col-5">
        @{
            var path = "/ModelPhoto/" + Model.Photo;
        }
        <img src=@path alt="@Model.ProductName" class="card-img-top border border-bottom " style="max-height:280px width:auto" />
    </div>
    <div class="col-4">
        <h4></h4>

        <h2>@Model.ProductName</h2>
        <h3>@Model.Description</h3>
            @{
                var value = Model.CostJP * Model.PriceExchangeRage;
                price = (int)(value);
            }
        <br />
        <h4>售價 @price 元</h4>
        <p>
            數量：
            <select name="value" id="value" style="width:100px">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="8">9</option>
            </select>
        </p>
        @{
            var productID = @Model.ProductID;
        }
            <button class="btn btn-info" id="order" name="order" onclick="AddToBuyCar('@Model.ProductID')">我要買買買</button>

        
        @* <p>@Model.ProductName</p> *@
        
    </div>
</div>
</div>
@* <div> *@
@*     <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> | *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@

@section Scripts {
    <script>
        function getCookie(name) {
            let cookieArr = document.cookie.split(";");
            // console.log(cookieArr);
            for (let i = 0; i < cookieArr.length; i++) {
                let cookie = cookieArr[i].trim();
                // console.log(cookie);
                if (cookie.startsWith(name + "=")) {
                    return cookie.substring(name.length + 1);
                }
            }

          return null;  // 如果沒有找到 Cookie
        }

        function AddToBuyCar(productID)
        {
            let cookieArr = getCookie("ManagerCookie");
            let isKeep = getCookie("KeepCookie");
            console.log(cookieArr);
            if (cookieArr == null || cookieArr == "" )
            {
                alert("請先登入/註冊帳號才能購買，將導至登入頁面");
                    // 使用 ASP.NET Core Razor 來生成 URL 並跳轉
                var strurl = '/Login/Login?uAction=Products&uRoute=Details&pid=' + productID;
                console.log(strurl);
                window.location.href = strurl;
                //window.location.href = '@Url.Action("Login", "Login")';
            }
            else
            {
                var select = document.getElementById("value");
                var selectValue = select.selectedIndex+1;//$("#value").selectedIndex;
                console.log(selectValue);
                var url = '/Products/AddOrderCar?pid=' + productID;
                url+= '&value=' + selectValue;
                console.log(url);
                window.location.href = url;
            }
        }
    </script>
}
