@model WebProject.Models.Product

@{
    ViewData["Title"] = Model.ProductName;
    var price = 0;
    string showModal = ViewData["isShowModal"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div id="ProductTypeList">
                @* //2.3.10 編寫Display View，加入VCReBooks ViewComponent *@
                @await Component.InvokeAsync("VCProductType", new { })
            </div>
        </div>
        <div class="col-5">
            @{
                var path = "/ModelPhoto/" + Model.Photo;
            }
            <img src=@path alt="@Model.ProductName" class="card-img-top border border-bottom " style="max-height:280px width:auto" />
        </div>
        <div class="col-4">
            <h4></h4>

            <h2>@Model.ProductName</h2>
            <h3>@Model.Description</h3>
            @{
                var value = Model.CostJP * Model.PriceExchangeRage;
                price = (int)(value);
            }
            <br />
            <h4>售價 @(price.ToString("N0")) 元</h4>
            @{
                int index = Convert.ToInt32(ViewData["value"]);
            }
            <p>
                數量：
                <select name="value" id="value" style="width:100px">
                    @for (int i = 1; i < 10; i++)
                    {
                        if (index == i)
                        {
                            <option selected value="@i" >@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </p>
            @{
                var productID = @Model.ProductID;
            }
            <button class="btn btn-info" id="order" name="order" onclick="AddToBuyCar('@Model.ProductID')">我要買買買</button>
            <div id="isShowModel" name="isShowModel" style="visibility:hidden">@(showModal)</div>
            @{
                showModal = "";
            }

            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">存進購物車</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-3">
                                    <img src=@path alt="@Model.ProductName" class="card-img-top border border-bottom " style="max-height:80px width:auto" />
                                </div>
                                <div class="col-6 d-flex align-items-center">
                                    <h3 >@Model.ProductName</h3>
                                </div>
                                <div class="col-3 ">
                                    @{
                                        var totalprice = price * index;
                                    }
                                    <br/>
                                    <br/>
                                    <br />
                                    <h4>小計 @totalprice 元</h4>
                                    <p>
                                        數量： @index                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmButton">關閉</button>
                        </div>
                    </div>
                </div>
            </div>

        @* <p>@Model.ProductName</p> *@
        
        </div>
    </div>
</div>

@* <div> *@
@*     <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> | *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@

@section Scripts {
    <script>
        function getCookie(name) {
            let cookieArr = document.cookie.split(";");
            // console.log(cookieArr);
            for (let i = 0; i < cookieArr.length; i++) {
                let cookie = cookieArr[i].trim();
                // console.log(cookie);
                if (cookie.startsWith(name + "=")) {
                    return cookie.substring(name.length + 1);
                }
            }

          return null;  // 如果沒有找到 Cookie
        }

        function AddToBuyCar(productID)
        {
            let cookieArr = getCookie("ManagerCookie");
            let isKeep = getCookie("KeepCookie");
            console.log(cookieArr);
            if (cookieArr == null || cookieArr == "" )
            {
                alert("請先登入/註冊帳號才能購買，將導至登入頁面");
                    // 使用 ASP.NET Core Razor 來生成 URL 並跳轉
                var strurl = '/Login/Login?uAction=Products&uRoute=Details&pid=' + productID;
                console.log(strurl);
                window.location.href = strurl;
                //window.location.href = '@Url.Action("Login", "Login")';
            }
            else
            {
                var select = document.getElementById("value");
                var selectValue = select.selectedIndex+1;//$("#value").selectedIndex;
                console.log(selectValue);
                var url = '/Products/AddOrderCar?pid=' + productID;
                url+= '&value=' + selectValue;
                console.log(url);
                window.location.href = url;
            }
        }

        var name = $("#isShowModel").text();
        if (name == "1")
        {
                $(document).ready(function() {
                    $('#myModal').modal('show');  // 顯示 Modal
                });
        }
        
        $('#confirmButton').on('click', function () {
            $('#myModal').modal('hide');  // 隱藏 Modal
        });
    </script>
}
