@model WebProject.ViewModels.VMProducts

@{
    ViewData["Title"] = "商品列表";
    var price = 0;
}


<div class="row mt-3">
    <div class="col-3">
        <div id="ProductTypeList">
            @* //2.3.10 編寫Display View，加入VCReBooks ViewComponent *@
            @await Component.InvokeAsync("VCProductType", new { })
        </div>
</div>
<div class="col-9">
    @if (Model.Products.Count() == 0)
    {
        <h1 class="text-danger text-center">@ViewData["ErrMsg"]</h1>
    }
    else
    {
        <div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4">
                        <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCateList" aria-controls="offcanvasCateList">商品搜尋 <i class="bi bi-search"></i></button>
                </div>
                <div class="col-xl-10 col-log-9 col-md-8">
                    <input type="text" id="searchInput" class="form-control" placeholder="請輸入關鍵字搜尋商品........." />
                </div>
            </div>
            <hr />
        </div>
        <div class="row">
            @foreach (var item in Model.Products)
            {
                    <div class="col-xl-4 products" data-model-keyword="@item.ProductName@item.Description@item.ProductSpecification.SpecificationName@item.ProductType.TypeName@item.Brand.BrandName">
                        <a style="text-decoration: none" asp-action="Details" asp-route-id="@item.ProductID">
                        <div class="card mb-4 border-info">
                            
                            @if (item.Photo != null)
                            {
                                    <img src="~/ModelPhoto/@item.Photo" class="card-img-top border border-bottom " style="max-height:280px width:auto" />
                            }
                            <div class="card-body">
                                <h4 class="text-black"> @item.ProductName</h4>
                                <p class="text-black-50">@Html.Raw(item.Description.Replace("\r\n", "<br>"))</p>
                            </div>
                            <div class="card-footer">
                                <h3 class="text-end text-black">
                                    @{
                                        var value = item.CostJP * item.PriceExchangeRage;
                                        price = (int)(value);
                                    }
                                        @(price.ToString("N0")) 元
                                </h3>
                            </div>    
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>
</div>

@section Scripts {
    <script>
        $('#searchInput').on('input', function () {
            console.log($(this));
            let keyword = $(this).val().toLowerCase();
            $('.products').each(function () {
                let productInfo = $(this).data('model-keyword').toLowerCase();
                if (productInfo.indexOf(keyword)>=0) {
                    $(this).show(500);
                }
                else
                {
                    $(this).hide(500);
                }

            });
        });
    </script>

}
