@model IEnumerable<WebProject.Models.Product>

@{
    ViewData["Title"] = "商品管理頁面";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">建立新商品</a>
</p>

<div class="row mt-3">
    <div class="col-3">
        <div id="ProductTypeList">
            @* //2.3.10 編寫Display View，加入VCReBooks ViewComponent *@
            @await Component.InvokeAsync("VCProductType", new { })
        </div>
</div>
<div class="col-9">
    @if (Model.Count() == 0)
    {
        <h1 class="text-danger text-center">@ViewData["ErrMsg"]</h1>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CostJP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CostExchangeRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriceExchangeRage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderedQuantity)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @if (item.Photo != null)
                        {
                            <img src="~/ModelPhoto/@item.Photo" style="max-height:100px; width:auto;" />
                        }
                    </td>
                    <td width="50">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td width="50">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostJP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostExchangeRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceExchangeRage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderedQuantity)
                    </td>
                    
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ProductID">編輯</a> <br/>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ProductID">詳細</a> <br />
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductID">刪除</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        }
    </div>
</div>