@model WebProject.Models.Order

@{
    ViewData["Title"] = "編輯訂單";
}

<h1>@ViewData["Title"]</h1>



<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderNo" />
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" readonly/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingDate" class="control-label"></label>
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input type="hidden" asp-for="IsGoodPackage" />
                @{
                    var str = Model.IsGoodPackage ? "加固包版" : "一般包裝";
                }
                <h5 class="text-danger">@str</h5>
                @* <label class="form-check-label"> *@
                @*     <input class="form-check-input" asp-for="IsGoodPackage" /> @Html.DisplayNameFor(model => model.IsGoodPackage) *@
                @* </label> *@
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddr" class="control-label"></label>
                <input asp-for="ShippingAddr" class="form-control" readonly />
                <span asp-validation-for="ShippingAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>@Html.DisplayNameFor(model => model.PayWay.PayWayName)</h5>
                <h5 class="form-control">@Model.PayWay.PayWayName</h5>
                <input type="hidden" asp-for="PayWayID" />

            </div>
            <div class="form-group">
                <label asp-for="OrdertatusID" class="control-label"></label>
                <select asp-for="OrdertatusID" class="form-control" asp-items="ViewBag.OrdertatusID"></select>
                <span asp-validation-for="OrdertatusID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h5>@Html.DisplayNameFor(model => model.Member.Name)</h5>
                <h5 class="form-control">@Model.Member.Name</h5>
                <input type="hidden" asp-for="MemberID" />
            </div>
            <div class="form-group">
                <h5>@Html.DisplayNameFor(model => model.ShippingWay.ShippingWayName)</h5>
                <h5 class="form-control">@Model.ShippingWay.ShippingWayName</h5>
                <input type="hidden" asp-for="ShippingWayID" />

            </div>
            <div class="form-group">
                <h5>@Html.DisplayNameFor(model => model.OrderName)</h5>
                <h5 class="form-control">@Model.OrderName</h5>
                <input type="hidden" asp-for="OrderName" />

            </div>
            <div class="form-group">
                <h5>@Html.DisplayNameFor(model => model.OrderPhone)</h5>
                <h5 class="form-control">@Model.OrderPhone</h5>
                <input type="hidden" asp-for="OrderPhone" />

            </div>
            <div class="form-group">
                <input type="submit" value="修改" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
