@model WebProject.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodPackage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayWay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayWay.PayWayID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordertatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordertatus.OrdertatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingWay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingWay.ShippingWayID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
